@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);
/*
Author: webthemez.com
Author URL: http://webthemez.com
*/
/*************************
*******Typography******
**************************/
body {
  padding-top: 100px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #282828;
  line-height: 26px;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {

  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #321414;
  margin-bottom: 4px;
}

.card-name{
  margin: 0px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
a {
  color: #45aed6;
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #2a95be;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.gradiant {
  background-image: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal {
  background-image: -moz-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 50px;
}
.section-header p{
text-align:center;
color: #000000;
}
.section-header .section-title {
  font-size: 44px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;  


  display: block;
  text-align: center;
  color: #321414;
}
.section-semititle{
  font-size: 34px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;  
  display: block;
  text-align: center;
  color: #1e123f;
}
.section-header .section-title:before {
  content: "------------";
  position: absolute;
  width: 140px;
  bottom: 4px;
  right: 0;
  width: 100px;
  color: #321414;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 8px;
  font-size: 13px;
}

.btn {
  border-width: 0;
  border-radius: 0;
}
.btn.btn-primary {
  background: #2F71D8;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #81A9F9;
}
.listarrow{
padding:0px;
}
.listarrow li{
list-style:none;
margin:0px;
padding:0px;
}
.listarrow li i{
padding-right:15px;
color: #60E1BF;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
  color: #fff;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%; 
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #45aed6;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
.navbar-toggle{
border-radius: 0;
}

.navbar-nav>li>a {
text-transform: uppercase;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
/*************************
*******Header******
**************************/
#main-nav.navbar-default {
background: #FFFFFF;
/* padding: 10px 0; */
}
#main-nav.navbar-default .navbar-nav > li.active > a, #main-nav.navbar-default .navbar-nav > li.open > a, #main-nav.navbar-default .navbar-nav > li:hover > a {
background: #1335A3;
color: #FFFFFF;
/* font-weight: bold; */
}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 15px 15px 1px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
color: #F8680D;
 
background: transparent;
}
.navbar-default .navbar-nav>li>a{
color: #FFFFFF;
font-weight: 600;
} 
#main-nav.navbar-default {
background: #FFFFFF;
box-shadow: 0px 1px 2px rgba(145, 145, 145, 0.6);
}
.navbar-nav>li {
}
 #main-nav.navbar-default .navbar-nav > li > a{
   padding-top: 32px;
  padding-bottom: 32px;
  border-top: 4px solid transparent;
 }

@media only screen and (min-width: 768px) {
  #main-nav.navbar-default { 
  }
  #main-nav.navbar-default .navbar-nav > li > a { 
}
  .navbar-default .navbar-nav>li>a {
	color: white;
	}
  #main-nav.navbar-default .navbar-nav > li.active > a,

  #main-nav.navbar-default .navbar-nav > li.open > a,
  #main-nav.navbar-default .navbar-nav > li:hover > a {
    background: rgb(255, 255, 255); 
	
    color: #321414;;
  
    border-top: 4px solid #6083D1;
}
  #main-nav.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-nav.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-nav.navbar-default .dropdown-menu > li > a { 
    padding: 15px 0;
    color:#A8A8A8; 
  }
  #main-nav.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-nav.navbar-default .dropdown-menu > li.active,
  #main-nav.navbar-default .dropdown-menu > li.open,
  #main-nav.navbar-default .dropdown-menu > li:hover {
    border-left-color: #45aed6;
  }
  #main-nav.navbar-default .dropdown-menu > li.active > a,
  #main-nav.navbar-default .dropdown-menu > li.open > a,
  #main-nav.navbar-default .dropdown-menu > li:hover > a {
    color: #45aed6;
    background-color: transparent;
  }
}


#services, #features {
  padding: 100px 0 75px;
  background: #FFFFFF;
}
.media.service-box {
  margin: 25px 0 36px;
  padding: 20px;
  padding-left: 86px;
  position: relative;
  /* background: #F2F2F2; */
  border: 1px solid #133986;
  color: #000000;
  font-size: 12px;
height: 170px;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 35px;
  /* height: 94px; */
  line-height: 53px;
  text-align: center;
  width: 79px; 
  color: #745151;
  /* background:#fff; */
  /* box-shadow: inset 0 0 0 1px #d7d7d7; */
  /* -webkit-box-shadow: inset 0 0 0 1px #d7d7d7; */
  transition: background-color 400ms, background-color 400ms;
  position: absolute;
  padding: 14px;
  /* height: 100%; */
  left: -13px;
  top: -1px;
  vertical-align: middle;
  background: #321414;
  /* border-radius: 0% 50%; */
  /* height: 80px; */
  /* border: 6px #fff solid; */
  bottom: -1px;
}
.features .media.service-box .pull-left > i{
color: #745151;
font-size: 78px;
padding-top: 10px;
overflow: hidden;
}
.media.service-box:hover .pull-left > i {  
}
